/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/main/resources/static/css/style.scss ***!
  \***********************************************************************************************************************************/
header {
  color: #ffffff;
  background: #36e8ff;
  height: 100px;
  font-size: 64px;
}
