<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <!-- tailwindcss のスタイルシートを消去 -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header class="text-center font-bold">
      <span th:text="${message}" class="text-5xl"></span>
    </header>

    <!-- button 追加 -->
    <div class="w-full h-24 text-center">
      <button class="btn btn-primary">OK</button>
    </div>

    <script th:src="@{/js/main.bundle.js}"></script>
  </body>
</html>
